<div class="row">
    <div class="col-6 offset-3">
        <h1 class="text-center text-primary">Thêm Danh Mục</h1>
        <div class="form-group">
            <label for="author">Tên Danh Mục</label>
            <input type="text" [(ngModel)]="name" class="form-control">
        </div>
        <!-- <div *ngIf="f.name.invalid && (f.name.dirty || f.name.touched)"
                class="alert alert-danger">

                <div *ngIf="f.name.errors?.required">
                    Name is required.
                </div>
                <div *ngIf="f.name.errors?.minlength">
                    Name must be at least 4 characters long.
                </div>
            </div> -->
        <div class="text-center">
            <button type="button" (click)="addCategory()" class="btn btn-primary">Lưu</button>
        </div>

    </div>
</div>